<div show-during-resolve>
    <span us-spinner="{radius:8, width:4, length: 8}"></span>
</div>
<div id='sale' class="panel panel-default">
    <!-- second row in the body -->
    <div class="panel-heading">
        <h4 class="col-md-7">{{saleState}}</h4>
        <!-- <p>row-read, col-bule buffer gray</p> -->
        <span class="title-auto">Go to Date: </span>
        <input type='date' class="form-control" style="width:150px; display:inline;" ng-model ='date_filter' placeholder="Date to filter" ng-change="goToDate(date_filter)">
        
        <button class="btn btn-sm btn-info" id='disabled' href="#" ng-click="print(sale.id)">Print Receipt</button>
        <!--<button class="btn btn-sm btn-info" id='disabled' href="#" ng-click="myCall=tryCall()">tryCall</button>-->
        <a class="btn btn-sm btn-info" ng-href="spa_booking/booking/{{sale.id}}"> See Booking
            <span show-during-resolve class="glyphicon glyphicon-refresh loading-icon"></span>
        </a>
    </div>
    <div class="panel-body">
        <!--<div class="row">
            <div class="col-md-12">
                <pre>{{myCall}}</pre> 
            </div>
            
        </div>-->
        <div class="row">
            <!-- 1-row  sale information-->
            <div class="col-md-7">
                <div class="row form-inline row-buffer">
                    <!-- row grid sale record information -->
                    <div class="form-group">
                        <span class=""></span>
                        <span class="form-control" ng-disabled="true">{{'No' + '-' + sale.id}}</span>
                    </div>
                    <span class="title-auto">Cashier: </span>
                    <input class='form-control ' style="width:60px;" id='cashier' ng-model="sale.cashier" type-ahead-model employ="employees"
                        uib-typeahead="s.name as s.name for s in employees | filter:$viewValue | limitTo:8" placeholder="Emoloyee Name"
                        ng-blur="setInvoiceNum(sale.id,sale.inv_refer,sale.cashier,sale,employees)">
                    <!-- bootstrap not xeditable -->
                    <div class="form-group" name="myform" ng-class="{'has-error': myform.myinput.$invalid}">
                        <span class="title-auto">Date: </span>
                        <input name="myinput" class="form-control input-fixed-2" uib-datepicker-popup="dd-MMM-yyyy" ng-click="status.book = true"
                            is-open="status.book" date-picker-model required ng-model="sale.date_bill" placeholder="Date of invoicing"
                            ng-change="updateSale(sale,employees)">

                    </div>
                    <div class="form-group ">
                        <span class="title-auto">Invoice#: </span>
                        <input class="form-control input-fixed-2" ng-model="sale.inv_refer" ng-blur="updateSale(sale,employees)">
                        <input ng-show='false' class="form-control input-fixed-width" ng-model="sale.inv_num" ng-blur="updateSale(sale,employees)">
                    </div>
                    <div class="form-group">
                        <span class="title-auto">Commission: </span>
                        <input class='form-control input-fixed-2' ng-model="sale.commissioner" uib-typeahead="com.name as com.name for com in commissioner | filter:$viewValue"
                            placeholder="Sale Staff" ng-blur="updateSale(sale,employees);">
                    </div>
                    <div class="form-group">
                        <span class="title-auto">$$$: </span>
                        <input class='form-control' style="width:20px;" ng-model="sale.amount_commis" ng-blur="updateSale(sale,employees);">
                    </div>
                </div>
                <div class="row row-buffer form-inline">
                    <!-- row customer infomation -->
                    <div class="form-group">
                        <span class="title-auto">Customer: </span>
                        <input class="form-control input-fixed-1" ng-model="sale.customer" ng-blur="updateSale(sale,employees)">
                    </div>
                    <div class="form-group">
                        <span class="title-auto">Country: </span>
                        <input class="form-control input-fixed-1" ng-model="sale.nationality" uib-typeahead="na for na in nationality | filter:$viewValue"
                            ng-blur="updateSale(sale,employees)">
                    </div>
                    <div class="form-group">
                        <span class="title-auto">Gender: </span>
                        <select class="form-control" placeholder="gender" ng-model="sale.gender" ng-change="updateSale(sale,employees)">
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>

                        </select>
                    </div>
                    <div class="form-group">
                        <span class="title-auto">Age: </span>
                        <select class="form-control" placeholder="age" ng-model="sale.age" ng-change="updateSale(sale,employees)">
                            <option value="25">~25</option>
                            <option value="30">~30</option>
                            <option value="40">~40</option>
                            <option value="50">~50</option>
                            <option value="51">50~</option>
                        </select>
                    </div>
                </div>
                <div class="row row-buffer form-inline">
                    <!-- row customer infomation -->
                    <div class="form-group">
                        <span class="title-auto">Email: </span>
                        <input class="form-control" ng-model="sale.cus_email" ng-blur="updateSale(sale,employees)">
                    </div>
                    <div class="form-group">
                        <span class="title-auto">Oriented: </span>
                        <select class="form-control" placeholder="Menue" ng-model="sale.cus_oriented" ng-blur="updateSale(sale,employees)" ng-options='cusOrientationValue.method as cusOrientationValue.method for cusOrientationValue in cusOrientation'>
                        </select>
                    </div>
                    <div class="form-group">
                        <span class="title-auto">BookMethod: </span>
                        <select class="form-control" ng-blur="updateSale(sale,employees)" ng-options=" bookingMethodValue.method as bookingMethodValue.method for bookingMethodValue in bookingMethod"
                            ng-model="sale.book_method">
                        </select>
                    </div>
                    <div class="form-group">
                        <span class="title-auto">Follow up: </span>
                        <input type='checkbox' ng-model="sale.cus_follow_up" ng-true-value="1" ng-false-value="0" ng-change="updateSale(sale,employees)">
                    </div>
                </div>
                <div class="row">
                    <!-- row sale detail table-->
                    <div class="col-md-12">
                        <div class=" row row-fix-height">
                            <table class="table table-striped table-bordered table-condensed table-hover">
                                <tr>
                                    <!-- <th>id</th> -->
                                    <!-- <th>saleID</th> -->
                                    <th>#</th>
                                    <th>Code</th>
                                    <th>Product</th>
                                    <th>Qty</th>
                                    <th>Price</th>
                                    <th>Discount</th>
                                    <th>subtotal</th>
                                    <th>Terapist</th>
                                    <th>editRecord</th>
                                </tr>
                                <tr ng-repeat="detail in saleDetail">
                                    <td ng-hide="true">
                                        <span editable-text="detail.id" e-form="rowform" e-name="id">{{detail.id}}
                                            <span>
                                    </td>
                                    <td ng-hide="true">
                                        <span editable-text="detail.main_id" e-form="rowform" e-name="main_id">{{detail.main_id}}
                                            <span>
                                    </td>
                                    <td>
                                        <span editable-text="detail.number" e-form="rowform" e-name="number">{{detail.number}}
                                            <span>
                                    </td>
                                    <td>
                                        <span editable-text="detail.product" e-form="rowform" e-name="product">{{(products | filter:{id:detail.product.toString()}:true)[0].code}}
                                            <span>
                                    </td>
                                    <td>
                                        <span e-name="productName">{{(products | filter:{id:detail.product.toString()}:true)[0].name}}
                                            <span>
                                    </td>
                                    <td>
                                        <span editable-text="detail.qty" e-form="rowform" e-name="qty">{{detail.qty}}
                                            <span>
                                    </td>
                                    <td>
                                        <span editable-text="detail.price" e-form="rowform" e-name="price">{{detail.price | currency}}
                                            <span>
                                    </td>
                                    <td>
                                        <span editable-text="detail.discount" e-form="rowform" e-name="discount">{{detail.discount|percentage:2}}
                                            <span>
                                    </td>
                                    <td>
                                        <span e-form="rowform" e-name="subtotal">{{detail.qty*(detail.price*(100-detail.discount)/100)|currency}}
                                            <span>
                                    </td>
                                    <td>
                                        <span editable-text="detail.therapist1" e-form="rowform" e-name="therapist1">{{comboId(employees,detail.therapist1)}}
                                            <span>
                                    </td>
                                    <td>
                                        <!-- edit colum -->
                                        <form editable-form name="rowform" onbeforesave="updateDetail(rowform.$data,products,$index)" ng-show="rowform.$visible"
                                            class="form-buttons form-inline" shown='false'>
                                            <!-- update confirm -->
                                            <button type="submit" ng-show="updateState" class="btn-default btn btn-xs">
                                                <span class="glyphicon glyphicon-ok"></span>
                                            </button>
                                            <!-- Update cancel -->
                                            <button type="button" ng-show="updateState" class="btn-default btn btn-xs" ng-click="rowform.$cancel()">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </form>
                                        <!-- edit record -->
                                        <div class="buttons" ng-show="!rowform.$visible">
                                            <!-- edit record -->
                                            <button class="btn btn-default btn-xs" ng-click="rowform.$show(); addState = false; updateState = true">
                                                <span class="glyphicon glyphicon-edit"></span>
                                            </button>
                                            <!-- delete record -->
                                            <button type="button" class="btn btn-danger btn-xs" ng-click="deleteDetail($index,saleDetail,detail)">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td style="padding-left: 2mm; font-weight: bold; " ng-model="child.sub">{{child.sub = (saleDetail | totalSumPriceQty:'price':'discount':'qty') | currency}}</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-right row-right">
                                <form class="form-inline row-right" ng-submit="addProduct(saleDetails,saleDetail,sale.id,products,child.barcode,child.therapist, customers, sale.partner)">
                                    <input class="form-control spa-menu-input" style="max-width:120px;" type="text" ng-model="child.barcode" placeholder="Menu code"
                                        ng-disabled='disableMenu'>
                                    <input class="form-control" style="max-width:120px;" type="text" ng-model="child.therapist" placeholder="Therapist name"
                                        uib-typeahead="s.name as s.name for s in employees | filter:$viewValue | limitTo:8">
                                    <button class="form-control btn btn-primary" type="submit" id="submit" value="Submit">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row  form-inline">
                    <!-- row payment /memo -->
                    <div class="col-md-12 ">
                        <div class="row row-buffer" style="height: 175px;">
                            <div class='col-md-3 col-II'>
                                <div class="form-group">
                                    <span class="title-fixed-1">Total: </span>
                                    <span class="form-control input-fixed-1 cell-right">{{ child.sub | currency }}</span>
                                </div>
                                <div class="form-group">
                                    <span class="title-fixed-1">VAT: </span>
                                    <input type='checkbox' ng-model="sale.isVAT" ng-true-value="1" ng-false-value="0">
                                </div>
                                <br>
                                <div class="form-group">
                                    <span class="title-fixed-1">VAT 10%: </span>
                                    <span class="form-control input-fixed-1 cell-right">{{(sale.isVAT ==1) ? child.sub * 0.1 : 0 | currency }}</span>
                                </div>
                                <div class="form-group">
                                    <span class="title-fixed-1">Payment: </span>
                                    <select class="form-control input-fixed-1 cell-right" ng-model="sale.pay_by" ng-change="updateSale(sale,employees)">
                                        <option value="Cash">Cash</option>
                                        <option value="Credit">Credit</option>
                                        <option value="Voucher">Voucher</option>
                                    </select>
                                </div>

                            </div>
                            <div class='col-md-3 col-II'>
                                <div class="form-group">
                                    <span class="title-fixed-1 ">G Total: </span>
                                    <span class="form-control input-fixed-1 cell-right">{{ grantTotal | currency }}</span>
                                </div>
                                <div class="form-group backMargin wholeSale ">
                                    <span class="title-fixed-1">BackMargin: </span>
                                    <input type='checkbox' ng-model="sale.back_margin" ng-true-value="1" ng-false-value="0" ng-change="updateSale(sale,employees);">
                                </div>
                                <div class="form-group wholeSale">
                                    <span class="title-fixed-1">Partner: </span>
                                    <input class="form-control input-fixed-1" dir-set-modelvalue list-data="customers" field-filter = "code"  ng-model="sale.partner" uib-typeahead="cus as cus.code for cus in customers | filter:{code: $viewValue} | limitTo:5"
                                        ng-blur="updateSale(sale,employees)">
                                </div>
                                <div class="form-group wholeSale noBackMargin">
                                    <span class="title-fixed-1">Voucher#: </span>
                                    <input ng-model="sale.voucher" class='form-control input-fixed-1' type="text" ng-change="updateSale(sale,employees)">
                                </div>

                                <div class="form-group">
                                    <span class="title-fixed-1">Bill: </span>
                                    <input class="form-control input-fixed-1 cell-right" ng-model="sale.bill" ng-blur="updateSale(sale,employees)">
                                </div>
                                <div class="form-group">
                                    <span class="title-fixed-1">Change: </span>
                                    <span class="form-control input-fixed-1 cell-right">{{sale.bill - grantTotal|currency}}</span>
                                </div>
                            </div>
                            <div class="col-md-5 col-II">
                                <!-- Notice infomation -->
                                <p class="p-bolt">Transportation</p>
                                <div class="">
                                    <span class="title-fixed-1">Earning: </span>
                                    <input type='number' class="form-control" ng-model="sale.earn_transport">
                                </div>
                                <div class="">
                                    <span class="title-fixed-1">Spending: </span>
                                    <input class="form-control" ng-model="sale.spend_transport" ng-blur="updateSale(sale,employees)">
                                </div>
                                <div class="">
                                    <span class="title-fixed-1">Memo: </span>
                                    <textarea class="form-control" ng-model="sale.memo" ng-blur="updateSale(sale,employees)" style='width:200px;'></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class='row row-buffer'>
                    <uib-tabset>
                        <uib-tab heading="Exchange Rate">
                            <div class="col-md-12">
                                <div class="table-responsive">

                                    <table class="table table-striped table-bordered table-condensed table-hover">
                                        <thead>
                                            <tr>
                                                <th> Currency</th>
                                                <th> Rate</th>
                                                <th> Sale</th>
                                                <th> Payment</th>
                                                <th> Amount Due</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td align="right">{{exchangeRate[0].currency}}</td>
                                                <td>
                                                    <input ng-model='exchangeRate[0].rate' ng-blur="updateRate(exchangeRate[0])">
                                                </td>
                                                <td align="right">{{exchangeRate[0].rate * grantTotal | currency :''}}</td>
                                                <td align="right">
                                                    <input class="" ng-model="noteKHR">
                                                </td>
                                                <td align="right">{{ (grantTotal - (noteTHB/exchangeRate[1].rate) - (noteKHR/ exchangeRate[0].rate)-(noteJPY/exchangeRate[2].rate)-(noteCHY/exchangeRate[3].rate)-(noteEUR/exchangeRate[4].rate))
                                                    * exchangeRate[0].rate | currency :''}}</td>
                                            </tr>
                                            <tr>
                                                <td align="right">{{exchangeRate[1].currency}}</td>
                                                <td>
                                                    <input ng-model='exchangeRate[1].rate' ng-blur="updateRate(exchangeRate[1])">
                                                </td>
                                                <td align="right">{{exchangeRate[1].rate * grantTotal | currency :''}}</td>
                                                <td align="right">
                                                    <input class="" ng-model="noteTHB">
                                                </td>
                                                <td align="right">{{ (grantTotal - (noteTHB/exchangeRate[1].rate) - (noteKHR/ exchangeRate[0].rate)-(noteJPY/exchangeRate[2].rate)-(noteCHY/exchangeRate[3].rate)-(noteEUR/exchangeRate[4].rate))
                                                    * exchangeRate[1].rate | currency :''}}</td>
                                            </tr>
                                            <tr>
                                                <td align="right">{{exchangeRate[2].currency}}</td>
                                                <td>
                                                    <input ng-model='exchangeRate[2].rate' ng-blur="updateRate(exchangeRate[2])">
                                                </td>
                                                <td align="right">{{exchangeRate[2].rate * grantTotal | currency :''}}</td>
                                                <td align="right">
                                                    <input class="" ng-model="noteJPY">
                                                </td>
                                                <td align="right">{{ (grantTotal - (noteTHB/exchangeRate[1].rate) - (noteKHR / exchangeRate[0].rate)-(noteJPY/exchangeRate[2].rate)-(noteCHY/exchangeRate[3].rate)-(noteEUR/exchangeRate[4].rate))
                                                    * exchangeRate[2].rate | currency :''}}</td>
                                            </tr>
                                            <tr>
                                                <td align="right">{{exchangeRate[3].currency}}</td>
                                                <td>
                                                    <input ng-model='exchangeRate[3].rate' ng-blur="updateRate(exchangeRate[3])">
                                                </td>
                                                <td align="right">{{exchangeRate[3].rate * grantTotal | currency :''}}</td>
                                                <td align="right">
                                                    <input class="" ng-model="noteCHY">
                                                </td>
                                                <td align="right">{{ (grantTotal - (noteTHB/exchangeRate[1].rate) - (noteKHR / exchangeRate[0].rate)-(noteJPY/exchangeRate[2].rate)-(noteCHY/exchangeRate[3].rate)-(noteEUR/exchangeRate[4].rate))
                                                    * exchangeRate[3].rate | currency :''}}</td>
                                            </tr>
                                            <tr>
                                                <td align="right">{{exchangeRate[4].currency}}</td>
                                                <td>
                                                    <input ng-disabled='true' ng-model='exchangeRate[4].rate' ng-blur="updateRate(exchangeRate[4])">
                                                </td>
                                                <td align="right">{{exchangeRate[4].rate * grantTotal | currency :''}}</td>
                                                <td align="right">
                                                    <input class="" ng-model="noteEUR">
                                                    <td align="right">{{ (grantTotal - (noteTHB/exchangeRate[1].rate) - (noteKHR / exchangeRate[0].rate)-(noteJPY/exchangeRate[2].rate)-(noteCHY/exchangeRate[3].rate)-(noteEUR/exchangeRate[4].rate))
                                                        * exchangeRate[4].rate | currency :''}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab heading="Customer Feedabck">
                            <div class='col-md-12 '>
                                <span>&nbsp;&nbsp;</span>
                                <span ng-disabled="disableAddFeed > 1" class='btn  btn-info btn-xs' ng-click='addFeedback(sale.id);bool = 4;'>Submit</span>
                                <p>&nbsp;</p>
                                <div class="col-md-12 table-responsive">
                                    <table class="table table-striped table-condensed table-hover">
                                        <tr>
                                            <td style="text-align: center;"></td>
                                            <th style="text-align: center;">Excellent</th>
                                            <th style="text-align: center;">Good</th>
                                            <th style="text-align: center;">Average</th>
                                            <th style="text-align: center;">Poor</th>
                                        </tr>
                                        <tbody>
                                            <tr ng-repeat="feed in feedback | orderBy: 'feedback'">
                                                <th>{{feed.feedback}}</th>
                                                <td align='center'>
                                                    <input type="radio" ng-model="feed.score" value="4" ng-change="updateFeed(feed)">
                                                </td>
                                                <td align='center'>
                                                    <input type="radio" ng-model="feed.score" value="3" ng-change="updateFeed(feed)">
                                                </td>
                                                <td align='center'>
                                                    <input type="radio" ng-model="feed.score" value="2" ng-change="updateFeed(feed)">
                                                </td>
                                                <td align='center'>
                                                    <input type="radio" ng-model="feed.score" value="1" ng-change="updateFeed(feed)">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">&nbsp;</div>
                                <div class="row">
                                    <div class="col-md-6 form-inline">
                                        <label class="title-auto">Type</label>
                                        <input class="form-control input-fixed-1" ng-model="sale.type_case" uib-typeahead="type for type in types | filter: $viewValue "
                                            ng-blur="updateSale(sale,employees)">
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                    </uib-tabset>
                </div>
            </div>
        </div>
        <div class="row row-buffer-noline">
            <!-- row grid pagination -->
            <button class="btn btn-primary btn-md col-md-1" ng-click="newRow(bigTotalItems, main, saleStatus);">Add New</button>
            <!-- updateState = false; addState = true; -->
            <pre class="btn btn-default btn-md col-md-2" disabled="disabled">Page: {{bigCurrentPage}} / {{numOfPage}}</pre >
      <uib-pagination class="pagination-md col-md-6" total-items="bigTotalItems" items-per-page = "itemPerpage"  max-size="maxSize"  boundary-links="true" rotate="true" num-pages="numOfPage" ng-model="bigCurrentPage" ng-change = "dataPaging(bigCurrentPage,main)" >
      </uib-pagination>

    </div>
  </div> <!-- div for panel body -->
</div> <!-- div for panel -->


<!-- *************************************************//****************************************************** -->



<div id='invoice' class=''>
    <div class="panel panel-body col-md-12">
        <div class="row ">
            <img class="logo" src="public/images/Picture1.png" alt="logo">
            <hr>
            <h4 class="logo row-center">Reciept</h4>
        </div>
        <div class="row ">
            <!--invoice row -->
            <div class=" col-md-12 col-md-offset col-right">
                <div class="row">
                    <div class="col-md-9" ng-hide="sale.gender =='' || sale.gender == null ">
                        <table>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr >
                                <td class="bold">Customer :</td>
                                <td>{{(sale.gender=='Male')?'Mr. '+sale.customer:'Ms. '+sale.customer}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-3 row-right">
                        <table>
                            <tr>
                                <td class="bold">Date Receipt :</td>
                                <td>{{dateConv(sale.date_bill) | date:'dd-MMM-yyyy'}}</td>
                            </tr>
                            <tr>
                                <td class="bold">Receipt No :</td>
                                <td>{{sale.inv_refer}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class=" col-md-12">
                <div class="row">
                    <table class="table table-striped table-bordered table-condensed table-hover" style="margin-bottom:0px;">
                        <tr>
                            <!-- <th>id</th> -->
                            <th>#</th>
                            <th>Detail</th>
                            <th>Qty</th>
                            <th>Price</th>
                            <th>Discount</th>
                            <th>Sub-total</th>
                        </tr>
                        <tr ng-repeat="detail in saleDetail">
                            <!-- <td><span>{{detail.id}}<span></td> -->
                            <!-- <td >{{detail.sale_id}}<span></td> -->
                            <td>{{detail.number}}</td>
                            <!-- <td><span>{{detail.product}}<span> </td> -->
                            <td>{{comboIdString(products, detail.product)}} </td>
                            <td>{{detail.qty}} </td>
                            <td>{{detail.price | currency}} </td>
                            <td>{{detail.discount|percentage:2}} </td>
                            <td class="cell-right">{{detail.qty*(detail.price*(100-detail.discount)/100)|currency}}</td>
                        </tr>
                        <tr>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>TOTAL</td>
                            <td class="cell-right" style="padding-left: 2mm; font-weight: bold; width:2cm;" >{{(child.sub) | currency}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="row ">
            <!--invoice row -->
            <div class=" col-md-4 col-md-offset-8">
                <div class="row">
                    <table class=" table table-striped table-bordered table-condensed" style="margin-bottom:0px;">
                        <tr ng-show="sale.isVAT == 1">
                            <td class="bold">VAT 10% :</td>
                            <td class="bold">{{(child.sub) * 0.1|currency}}</td>
                        </tr>
                        <tr ng-show="(sale.earn_transport>0)?true:false">
                            <td class="bold">Transportation :</td>
                            <td class="bold">{{sale.earn_transport|currency}}</td>
                        </tr>                       
                        <tr ng-show="sale.pay_by == 'Credit'">
                            <td class="bold">Credit Card 2% :</td>
                            <td class="bold">{{((sale.total/1.02*0.02) + (sale.earn_transport)*0.02)|currency}}</td>
                        </tr>
                        <tr ng-show="sale.isVAT == 1">
                            <td class="bold">Grand Total : </td>
                            <td class="bold" style="padding-left: 2mm; width:2cm; ">{{(grantTotal) |currency}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">&nbsp;</div>
        <div class="row">
            
        </div>
        <div class="row">&nbsp;</div>
        
        <div class="row">&nbsp;</div>
        <div class="row">&nbsp;</div>
        <div class="row ">
            <div class="col-md-2">
                <div class="row"><img class="logo2" src="public/images/Picture1.png" alt="logo"></div>
            </div>
        </div>
        <div class="row "><strong>KH SPA KHMER</strong></div>
        <div class="row ">Salakam Reuk commune, Siem Reap, Kingdom of Cambodia.</div>
        <div class="row "><strong>Mobile: </strong> (+855)011 345 039</div>
        <div class="row "><strong>Email: </strong> info@spakhmer.com, <strong>Web:</strong> www.spakhmer.com</div>
        <div class="row">&nbsp;</div>
        <div class="row ">
            <div class="col-md-1"><strong>Signature</strong></div>
        </div>
    </div>
</div>