/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  margin: 2% 3%;
  background-image: url("body-bg.png");
  background-color: rgba(51, 153, 20, 0.2);
  font-size: 12px;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/*
 * end of bootstrap template style
 * and start for editable table style
 */

body>div {
margin: 0px; 
}
.col-II{
  padding: 0px;
}
.table>tbody>tr>td>span {
  width: 100%;
  padding: 0px 4px;
}
.table>tbody>tr>td {
  padding: 2px 2px;
  height: 20px;
}
td>div, td .btn-xs{
  padding: 0px 5px;
  height: 15px
}
.btn-sm{
  font-size: 90%;
}
.btn-md{
  padding: 4.5px 12px;
}
.table>tbody>tr>td>span {
  width: 100%;
}
td,th{
  font-size: 85%;
  padding: 0;
}

.inventory-oms{
  background-color: rgba(51, 153, 204, 0.1);
}
.inventory-krung{
  background-color: rgba(15, 153, 20, 0.1);
}

/*
 * My custom style
 */

form[name="editableForm"] >div>div>div{
  padding: 3px;
}
.pagination-md {
margin: 0px !important;
}
.panel-body{
  /*background-color: rgba(51, 153, 204, 0.1);*/
}

.title-fixed-2{
  width: 100px;
  display: inline-block;
  font-weight: bold;
  font-size: 80%;
  padding: 2px 2px;
  vertical-align: top;
  text-align: right;
}
.title-fixed-1{
  font-weight: bold;
  font-size: 80%;
  display: inline-block;
  width: 60px;
  text-align: right;
}
.title-auto{
  font-weight: bold;
  font-size: 80%;
  display: inline-block;
  width: auto;
  text-align: right;
}

.input-fixed-1{
  width: 90px !important;
}
.input-fixed-2{
  width: 100px !important;
}
td .form-control{
height: 20px;
padding: 1px 1px;
font-size: 90%;
}
.form-control{
height: 25px;
padding: 1px 2px;
font-size: 90%;
}
form[name="editableForm"] .editable-input{
  width: 110px !important;
}

                                                                   /* .row {
                                                                      border: 1px solid red;
                                                                    }

                                                                    [class*="col-"] {
                                                                      border: 1px solid blue;

                                                                    }*/
.row-buffer { 
  margin: 10px 0; 
  border-radius: 5px;
  border: solid 1px #ddd;
  padding: 2px 0;
}
.row-buffer-noline { 
  padding: 0px;
  margin: 10px 0px; 
  border-radius: 5px;
}
.row-fix-height{
  margin: 0px 0px; 
  border-radius: 5px;
  height: 250px;
  border: solid 1px #ddd;
  overflow-y: auto;
}
.row-fix-height-2{
  margin: 0px 0px; 
  border-radius: 5px;
  height: 350px;
  border: solid 1px #ddd;
  overflow-y: auto;
}
.editable-wrap .editable-input {
    display: inline-block;
    width: 100%;
}
td, th {
    padding: 0;
    width: 1px;
    white-space: nowrap;
}

.memo {
    width: 250px;
}

.amount,
.id {
    display: table-cell;
    text-align: right;
}
span.amount{
    display: inline-block;
    text-align: right;
    /*background: red;*/
}
td.amount{
  padding-right: 6px !important;
}
/*
 * style for invoicing page
 */

.logo {
  display: block;
  width: 15%;
  margin: 0px auto;
  text-align: center;
}
.logo2{
  display: block;
  width: 100%;
  margin: 0px auto;
  /*text-align: left;*/
}
.bold{
  font-weight: bold;
  text-align: right;
}
.small{
  font-size: 80%;
}
.p-bolt{
  text-decoration: underline;
  font-weight: bold;
  margin: 0;
}
.tbold{
  font-weight: bold;
  font-size: 80%;
  
}
p {
  margin: 0;
}
.cell-right{
  text-align: right;
}
.row-right {
  display: table-cell;
  float: right;


}
.fadein.ng-enter {
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0;
}
.fadein.ng-enter.ng-enter-active {
  opacity: 1;
}
.inline-fadein.ng-hide-remove {
  -webkit-transition: 500ms ease all;
  -moz-transition: 500ms ease all;
  -o-transition: 500ms ease all;
  transition: 500ms ease all;
  display: inline-block !important;
  opacity: 0;
}
.inline-fadein.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}
@-webkit-keyframes webkit-spin {
  from {
    -webkit-transform: scale(1) rorate(0deg);
  }
  to {
    -webkit-transform: scale(1) rotate(359deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loading-icon {
  -ms-animation: spin .7s infinite linear;
  -moz-animation: spin .7s infinite linear;
  -webkit-animation: webkit-spin .7s infinite linear;
  top: 2px;
  margin-left: 7px;
}
 hr{
    margin: 5px;
  }

/*********************************************************************************
 * Media style for printing invoice
 */













