body{
  height: 100vh;
  margin: 0;
  padding:0;
}

.container-fluid {
  position: relative;
  height: 100%;
}

main#container{
  position: absolute;
  top:0;
  bottom: 0;
  left:15px;
  right:15px;
  overflow: hidden;
}
div.panel-heading{
  position: absolute;
  top:0;
  height: 50px;
  left:15px;
  right:15px;
  padding:10px;
}
.col-md-1{
  display: inline-block;
  width: 10%;
}
div.panel-body{
  position: absolute;
  top:50px;
  bottom: 60px;
  left:15px;
  right:15px;
  overflow-y: scroll;
}
div#pagination{
  position: absolute;
  bottom:0;
  height: 50px;
  left:15px;
  right:15px;
}
table, td , th{
  border-collapse: collapse;
  border: 1px solid gray;
}